# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac
.DS_Store
._*

# Jupyter
.ipynb_checkpoints/

# Quarto
.quarto/
_quarto_header.txt

# Virtual environments
venv/
env/
.env/

# VS Code
.vscode/

# Anaconda
anaconda_projects/

# Keep cleaned and processed data for replication
# data/interim/  -> tracked
# data/processed/ -> tracked
# output/tables/ -> tracked

# Local project folder reference
empirical project 2026/
