# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Ignore ONLY raw data (large / external files)
data/raw/

# Keep cleaned and processed data for replication
# data/interim/  -> tracked
# data/processed/ -> tracked

# Ignore large figures if needed
output/figures/

# Keep regression tables tracked
# output/tables/ -> tracked
